@import url('https ://fonts.googleapis.com/css2 ?family=Poppins :wght@100 ; 200; 300; 400; 500; 600; 700; 800; 900&display=swap') ;

:root{
    --font-family: "Poppins";
    --white-color:white;
    --light-color:rgb(139, 195, 245);
    --dark-color:#1294b8;
    --background: radial-gradient(circle at center, rgb(139, 195, 245), #1294b8);
}

*{
   font-family: var(--font-family);
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.top-page {
   background:var(--background);
   margin: 0;
   height: 90vh;
  
}

/****************************** header **********************************/
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--white-color);
    padding:30px 30px ;
   
}

.nav {
    width: 700px;  
}

.nav ul{
    list-style: none;
    display: flex; 
    justify-content: space-evenly;
    
}
.nav ul li a{
    text-decoration: none;
    color:var(--white-color);
    transition: 0.7s;
}
.nav ul li a:hover{
    color: var(--light-color);
}

.logo {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100px;
    
}

.logo li:hover{
    color: var(--light-color);
}
.logo li{
    transition: 0.7s;
}

/************************** landing page **********************************/

.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;


}
article {
    text-align:justify;
    padding: 150px 50px;
}

article h1{
    font-size: 3em;
    padding: 10px;
}
article p {
    font-size: 1.5em;
    line-height: 1.4;
    padding: 10px;
}
/* *****************************form***************************** */
.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 300px;
    
    
}
.subscribe input{
    border: none;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
  

}
.subscribe button{
    border: none;
    border-radius: 20px;
    position: absolute;
    right: 5px;
    background: var(--dark-color);
    height: 30px;
    color: var(--white-color);
    transition: 0.7s;
}

.subscribe button:hover{
    background: var(--light-color);
}

.image {
    width: 450px;
    margin-right: 100px;
}


/********************************section 2 products features************************************* */

#FEATURES {
   flex-wrap: wrap;
   object-fit: cover;
   font-family: var(--font-family);
   
}
/* ********************texte************************** */
.texte {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    height: 20vh;
    padding: 40px 50px;
    
   
}

.texte p {
    text-align: center;
    padding: 10px;
    color: var(--light-color);
}
/* *************************Cards************************* */
.main{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 30px;
    color: var(--white-color);
    
}

.cards{
    background: rgb(139, 195, 245); 
    height: 300px;
    width: 300px;
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
    background: var(--background);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    transition: 0.5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      
}
.cards:hover{
    transform:translateY(-20px);
}

.icones a{
    font-size: 2em;
    text-decoration: none;
    color: white;
    
    
}
.icones {
    padding: 10px 10px;
}

.cards p{
    padding: 10px 10px;
}
.cards h2{
    padding: 10px 10px;
}
/* *******************************Section team*************************************** */

.peoples{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 60px; 

}
.people{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.people img{
    width: 200px;
    filter: grayscale(1);
    transition: 0.7s;
    object-fit: cover;
    
      
}

.cercle{
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}
.cercle:hover img, .icones-reseaux:hover+img{
    filter: grayscale(0);
    transform: scale(1.1);
    
}
.icones-reseaux{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 30px;
    width: 30px;
    text-align: center;
    opacity: 0;
    transition: 0.9s;
    z-index: 10;
 
}

.icones-reseaux a{
    color:black;
    background-color: white;
    height: 30px;
    width: 25px;
    border-radius: 30px;
    text-align: center;
   
    
}
.cercle:hover .icones-reseaux{
    left: 20px;
    top: 30px;
    opacity: 1;

}


/* ******************************parallax************************************************ */

.parallax{
    background-image: url(../CSS/img/parallax.png);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* opacity: 1; */

}
.affichage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    color: var(--white-color);
    background-color: rgba(0, 0, 0, 0.377);
    
}
.affichage h1{
    padding: 30px 50px;
}
.affichage p{
    color: rgba(255, 255, 255, 0.651);

}

.affichage button{
    margin: 30px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.377);
    color: var(--white-color);
    border-color: var(--white-color);
    transition: 0.7s;
}

.affichage button:hover{
    background-color: var(--white-color);
    color: black;
    transform: translateY(-5px);
}

/* ************************************SECTION CLIENT******************************* */
#CLIENT{
    height: 80vh; 
   background: rgba(0, 0, 0, 0.040);
}
#CLIENT .texte{
    padding: 80px;
    height: 270px;
    
}
.img-client {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    
}
.img-client img{
    width: 100px;
    height: 100px;
    opacity: 0.5;
    object-fit: cover;
    transition: 0.7s;
}
.img-client img:hover {
    opacity: 1;
    
}   


/* ****************************************section blog************************ */
#BLOG{
    object-fit: cover;
    /* margin: 70px 60px; */
    
}
.blogs{
    display: flex;
    justify-content:center;
    align-content: center;
    height: 80vh;
    gap: 50px;
}
.icones_auteur{
    display: flex;       
    flex-direction: column;
    justify-content: space-between;
    
}
.icones_auteur a{
    text-decoration: none;
    color: var(--white-color);
}

.info-auteur{
    display: flex; 
    flex-direction: column;  
    color: var(--white-color);
}
.wrap{
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 200px;
    position: absolute;
    top: 0;
    left: -200px;
    transition: 0.7s;
    z-index: 10;
   
}
.auteur{
    width: 400px;
    position: relative;
    overflow: hidden;
    
}
.auteur img{
   width: 400px;
   border-radius: 10px;
  
}
.auteur:hover .wrap{
    left: 0;
    z-index: 10;
   
}
.auteur:hover img{
    filter: brightness(70%);
    /* left: 0; */
}



.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info p{
    font-size: 1em;
    color: black;
    padding-top: 20px;
    /* background: linear-gradient(120deg,blue, red,orange,green,indigo,violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.info a{
    text-decoration: none;
    padding-top: 20px;
    font-size: 1.2em;
}
.info h1{
    margin-top: 20px;
}


/* ****************************************************section pricing******************************* */

.top-price{
   display: flex;
   justify-content: center;
   align-items: center;
   object-fit: cover;
}
article{
 
    width: 600px;
    height: 500px;
}
article h1{
    font-size: 1.5em;
}
article p {
    color: rgba(0, 0, 0, 0.671);
    font-size: 1.2em;
}
article button{
    background: var(--dark-color);
    color: var(--white-color);
    border-radius: 10px;
    width: 100px;
    height: 30px;
    border: none;
}
.top-price img{
    width: 400px;
    height: 400px;
}
.donnee1{
    display: flex;
    flex-direction: column;

}
.donnee1 h2{
    font-size: 1.2em;
}

.donnee2{
    display: flex;
    flex-direction: column;

}
.donnee2 h2{
    font-size: 1.2em;
}
.donnees{
    display: flex;
    /* justify-content: flex-start;
    align-items: flex-start; */
    gap: 15px;
}


.our-price{
    background:rgba(111, 158, 199, 0.233) ;
    height: 80vh;
    margin: 20px 100px 100px 100px;
   
   
}
.cards-price{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.card-price{
    background: white;
    width: 260px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
    
.header-card p{
    font-size: 3em;
}
.header-card p span{
    font-size: 17px;
}
.card-price ul {
    text-align: left;
    margin: 20px 0;
    
}
.card-price ul li{
    list-style: none;
    display: flex;
  
    /* justify-content: space-between;
  */
    
}
.card-price li{
    display: flex;
   
}

.card-price i{
    color: green;
}

.fa-regular fa-circle-xmark{
    color: red;
}


.card-price button{
    border: none;
    background: var(--light-color);
    color: var(--white-color);
    padding: 10px 20px;
    width: 80%;
    font-size: 16px;
    border-radius: 5px;
    

}














/* ****************************footer*************************************** */
#CONTACT{
    background: rgba(0, 0, 0, 0.877);
    height: 250px;
    text-align: center;
    padding-top: 80px;
   
}
#CONTACT p{
    color: rgba(255, 255, 255, 0.582);
    line-height: 2em;
}
.icones-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-bottom: 20px;
    
}
.icones-footer a{
    text-align: center;
    padding: 10px 5px;
    color:rgba(255, 255, 255, 0.582);
    border: 1px solid rgba(255, 255, 255, 0.582);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
