@import url('https ://fonts.googleapis.com/css2 ?family=Poppins :wght@100 ; 200; 300; 400; 500; 600; 700; 800; 900&display=swap') ;

:root{
    --font-family: 'Poppins';
    --white-color:white;
    --light-color:rgb(139, 195, 245);
    --dark-color:#1294b8;
    --background: radial-gradient(circle at center, rgb(139, 195, 245), #1294b8);
}

*{
   font-family: 'Poppins', sans-serif;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
}

.top-page {
   background:var(--background);
   margin: 0;
   height: 90vh;
  
}

/****************************** header **********************************/
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--white-color);
    padding:30px 30px ;
   
}

.nav {
    width: 700px;  
}

.nav ul{
    list-style: none;
    display: flex; 
    justify-content: space-evenly;
    
}
.nav ul li a{
    text-decoration: none;
    color:var(--white-color);
    transition: 0.7s;
}
.nav ul li a:hover{
    color: rgba(0, 0, 0, 0.350);
}

.logo {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100px;
    
}

.logo a:hover{
    color: rgba(0, 0, 0, 0.350);
}
.logo a{
    transition: 0.7s;
    color: var(--white-color);
}

/************************** landing page **********************************/

.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;


}
article {
    text-align:left;
    padding: 60px 50px;
    width: 700px;
}

article h1{
    font-size: 3.3em;
    
}
article p {
    font-size: 1.8em;
    line-height: 1.4;
    padding: 40px 0;
}
/* *****************************form***************************** */
.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 300px;
    
    
}
.subscribe input{
    border: none;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
  

}
.subscribe button{
    border: none;
    border-radius: 20px;
    position: absolute;
    right: 5px;
    background: var(--dark-color);
    height: 30px;
    color: var(--white-color);
    transition: 0.7s;
}

.subscribe button:hover{
    background: var(--light-color);
}

.image {
    width: 600px;
    margin-right: 100px;
}


/********************************section 2 products features************************************* */

#features {
   flex-wrap: wrap;
   object-fit: cover;
   font-family: var(--font-family);
   
}
/* ********************texte************************** */
.texte {
    width: 900px;
    height: 25vh;
    margin: auto;
    text-align: center;
    padding: 20px;
  
}
.texte h2{
    font-size: 3em;
}
.texte p {
    padding: 30px;
    color: rgba(139, 196, 245, 0.829);
    font-size: 1.5em;
}
/* *************************Cards************************* */
#features{
    height: 90vh;
}

.main{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 30px;
    color: var(--white-color);
    
}

.cards{
    background: rgb(139, 195, 245); 
    height: 400px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
    background: var(--background);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    transition: 0.5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      
}
.cards:hover{
    transform:translateY(-20px);
}

.icones a{
    font-size: 3em;
    text-decoration: none;
    color: white;
    
    
}
.icones {
    padding: 10px 10px;
}

.cards p{
    padding: 10px 10px;
    font-size: 1.3em;
    color: rgba(255, 255, 255, 0.616);
}
.cards h2{
    padding: 10px 10px;
    font-size: 2em;
}
/* *******************************Section team*************************************** */


.people .text{
    width: 200px;
    height: 60px;
    text-align: center;
    margin: 50px;
}

.peoples{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 60px; 

}
.people{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.people img{
    width: 200px;
    filter: grayscale(1);
    transition: 0.7s;
    object-fit: cover;
    
      
}

.cercle{
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}
.cercle:hover img, .icones-reseaux:hover+img{
    filter: grayscale(0);
    transform: scale(1.1);
    
}
.icones-reseaux{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 30px;
    width: 30px;
    text-align: center;
    opacity: 0;
    transition: 0.9s;
    z-index: 10;
 
}

.icones-reseaux a{
    color:black;
    background-color: white;
    height: 30px;
    width: 25px;
    border-radius: 30px;
    text-align: center;
   
    
}
.cercle:hover .icones-reseaux{
    left: 20px;
    top: 30px;
    opacity: 1;

}


/* ******************************parallax************************************************ */

.parallax{
    background-image: url(../CSS/img/parallax.png);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.affichage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    color: var(--white-color);
    background-color: rgba(0, 0, 0, 0.473);
    
}
.affichage h2{
    padding: 30px 70px;
}
.affichage p{
    color: rgba(255, 255, 255, 0.651);

}

.affichage button{
    margin: 30px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.377);
    color: var(--white-color);
    border-color: var(--white-color);
    transition: 0.7s;
}

.affichage button:hover{
    background-color: var(--light-color);
    color: var(--white-color);
    transform: translateY(-5px);
}

/* ************************************SECTION CLIENT******************************* */
#client{
    height: 80vh; 
   background: rgba(0, 0, 0, 0.040);
}
#client .texte{
    padding: 80px;
    height: 270px;
    
}
.img-client {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 40px;
    
}
.img-client img{
    width: 200px;
    height: 200px;
    opacity: 0.5;
    background-size: cover;
    transition: 0.7s;
}
.img-client img:hover {
    opacity: 1;
    
}   


/* ****************************************section blog************************ */
#blog{
    object-fit: cover;
    /* margin: 70px 60px; */
    
}
.blogs{
    display: flex;
    justify-content:center;
    align-content: center;
    height: 70vh;
    gap: 50px;
}
.icones_auteur{
    display: flex;       
    flex-direction: column;
    justify-content: space-between;
    
}
.icones_auteur a{
    text-decoration: none;
    color: var(--white-color);
}

.info-auteur{
    display: flex; 
    flex-direction: column;  
    color: var(--white-color);
}
.wrap{
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 220px;
    position: absolute;
    top: 10px;
    left: -215px;
    transition: 0.7s;
    z-index: 10;
   
}
.auteur{
    width: 400px;
    position: relative;
    overflow: hidden;
    
}
.img-blog{
    width: 400px;
    height: 400px;
}
.img-blog img{
   width: 100%;
   height: 100%;
   border-radius: 10px;
   object-fit: cover;
  
}
.auteur:hover .wrap{
    left: 0;
    top: 10px;
    z-index: 10;
   
}
.img-blog:hover img{
    filter: brightness(70%);
    /* left: 0; */
}



.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info p{
    font-size: 1em;
    color: black;
    padding-top: 20px;
    /* background: linear-gradient(120deg,blue, red,orange,green,indigo,violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.info a{
    text-decoration: none;
    padding-top: 20px;
    font-size: 1.2em;
}
.info h2{
    margin-top: 40px;
}


/* ****************************************************section pricing******************************* */

.top-price{
   display: flex;
   justify-content: center;
   align-items: center;
   object-fit: cover;
}
.top-price article{
 
    width: 600px;
    height: 500px;
}
.top-price article h2{
    font-size: 2em;
}
article p {
    color: rgba(0, 0, 0, 0.671);
    font-size: 1.2em;
}
article button{
    background: var(--dark-color);
    color: var(--white-color);
    border-radius: 10px;
    width: 100px;
    height: 30px;
    border: none;
}
.img-top-price{
    width: 400px;
    height: 400px;
}
.img-top-price img{
    width: 100%;
    height: 100%;
}
.donnee1{
    display: flex;
    flex-direction: column;

}
.donnee1 h2{
    font-size: 1.2em;
}

.donnee2{
    display: flex;
    flex-direction: column;

}
.donnee2 h2{
    font-size: 1.2em;
}
.donnees{
    display: flex;
    /* justify-content: flex-start;
    align-items: flex-start; */
    gap: 15px;
}


.our-price{
    background:rgba(111, 158, 199, 0.233) ;
    height: 80vh;
    margin: 20px 100px 100px 100px;
   
   
}
/* ***************************l'essentiel de mes prix************************************ */
.header-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-card h2{
    font-weight: bold;
    padding: 20px;
}
.header-card p{
    font-size: 3em;
    color: var(--light-color);
}
.header-card p span{
    font-size: 17px;
    color: rgba(0, 0, 0, 0.63);
}
.cards-price{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
   
}
.card-price{
    background: white;
    width: 260px;
    height: 400px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transition: 0.5s;
}
    
.card-price dl {   
    margin: 20px 0;
    line-height: 2.1em;
    padding: 5px 15px;
    list-style: none;
  
}


.card-price dl dt{
    display: flex;
    justify-content: space-between;

}


.card-price .red {
    color: red;
}

.card-price i{
    color: green;
}


.card-price button{
    border: none;
    background: var(--light-color);
    color: var(--white-color);
    padding: 10px 20px;
    width: 80%;
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 20px;
}

.card-price:hover{
    transform: translateY(-20px);
}


.header-card .sale{
    background-color: var(--dark-color);
    width: 50px;
    height: 50px;
    position: absolute;  
    top: 0;
    right: 0;
    border-radius: 0 5px 0 5px;
}

.header-card .sale p{
    font-size: 1.1em;
    color: var(--white-color);
    text-align: center;
    padding: 5px;
    

}









/* ****************************footer*************************************** */
#CONTACT{
    background: rgba(0, 0, 0, 0.877);
    height: 250px;
    text-align: center;
    padding-top: 80px;
   
}
#CONTACT p{
    color: rgba(255, 255, 255, 0.582);
    line-height: 2em;
}
.icones-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-bottom: 20px;
    
}
.icones-footer a{
    text-align: center;
    padding: 10px 5px;
    color:rgba(255, 255, 255, 0.582);
    border: 1px solid rgba(255, 255, 255, 0.582);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 0.7s;
}
.icones-footer a:hover{
    color: black;
    background: rgba(255, 255, 255, 0.418);

}



/* ************************************responsive design**************************************** */


@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

/* **************************************section 1 top page******************************** */


/* ********************************HEADER******************** */
*{
    max-width: 320px;
    
}

.header {
    padding: 0;
    font-size: 0.7em;
    flex-wrap: wrap;
   
}
.header h2{
    font-size: 1em;
}
.nav {
    width: 50%;  
}

.nav ul{
    flex-wrap: wrap;
    
}
.logo {
    width: 20%;
}

.logo a{
    transition: none;
    
}

/* ****************************LANDING PAGE****************** */
.landing-page {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 80vh;

}
article {
    padding: 10px 10px;
    width: 300px;
}

article h1{
    font-size: 1.5em;
    width: 300px;
    padding: 10px 10px;
    
}
article p {
    font-size: 1em;
    width: 300px;
    line-height: 1.4;
    padding: 10px 10px;
    text-align: left;
}
/* *****************************form***************************** */
.subscribe {
    width: auto;
    
    
}
.subscribe input{   
    width: 100%;
    height: 20px;
  

}
.subscribe button{
    right: 0px;
    height: 20px;
    color: var(--white-color);
    transition: none;
}

.image {
    width: 250px;
    padding-left: 50px;
    
}


/* **************************************section 2 features********************** */



 /* ********************texte************************** */
 #features .texte {
     width: 300px;
     height: 20vh;
     margin: auto;
     text-align: justify;
     padding: 10px;
     
   
 }
 .texte h2{
     font-size: 1.3em;
     text-align: justify;
     margin: 10px;
 }
 .texte p {
     padding: 0px;
     font-size: 1em;
     margin: 10px;
     color: rgb(139, 196, 245);
 }
 /* *************************Cards************************* */
 #features{
     height: 190vh;
 }
 
 .main{
    flex-direction: column;
     gap: 15px;  
     
 }
 
 .cards{
     height: 250px;
     width: 250px;  
       
 }

 .cards p{
    font-size: 1em;
 }
 .cards:hover{
    transform: none;
}
 
 /* ***********************************************team*************************** */
.team .texte{
    height: 50vh;
    text-align: left;
}
 .people .text{
    margin: 20px;
}

.peoples{
    flex-direction: column;
    margin: 0px; 

}


.people img{
    height: 200px;
    filter: grayscale(0);
     
}

.cercle{
    height: 200px;
    width: 200px;
   
}

.icones-reseaux{
 
    top: 30px;
    left: 20px;
    opacity: 1;
 
}
.cercle:hover img, .icones-reseaux:hover+img{
    
    transform: none;
    
}

/* **************************************section 4 parallax******************** */

.parallax{
    background-attachment: scroll;
    background-size: 100% auto;
    height: 245px;
    

}
.affichage {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.459);
}

.affichage h2{
    padding: 15px 0px;
   
}
.affichage p{
    color: rgb(255, 255, 255);
    font-size: 0.7em;
    line-height: 1.5em;

}
.affichage button{
    margin: 20px;
    height: 20px; 
    background-color: rgba(0, 0, 0, 0.315);
    transition: none;
}

.affichage button:hover{
    background-color: none;
    color: none;
    transform: none;
}

/* **************************************SECTION CLIENT************************** */
#client .texte{
    padding: 0px;
    padding-top: 40px;
    height: 35vh;
    text-align: left;
}
#client{
    height: 100vh; 
   
}

.img-client {
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
    gap: 20px;
}


.img-client img{
    width: 100px;
    height: 100px;
    opacity: 1;
    
}

/* **********************************section blog************************************** */

#blog .texte{
    text-align: left;
}
.blogs{
   flex-direction: column;
   justify-content: flex-start;
   
   height: 270vh;
   
}
.img-blog {
    width: 280px;
    height: 280px;
    margin-left: 5px;
 
 }
 .info h2{
    font-size: 1.2em;
 }
 .info p{
    font-size: 0.9em;
    text-align: left;
 }
.info{
    width: 300px;

}
.auteur{
    width: 300px;
    padding-left: 15px;
    
   
}
.img-blog img{
    filter: brightness(70%);
    
}

.wrap{
    width: 220px;
    top: 10px;
    left: 25px;
    transition:none;
    justify-content: flex-start;
   
}
/* *****************************************section price*************************** */

.top-price{
    flex-direction: column-reverse;
 }

.donnees{
    gap: 20px;
    width: 250px;
    padding: 15px;
}
.donnees p{
    width: 150px;
}
.top-price article{
    width: 300px;
    height: 500px;
    margin-top: 20px;
}
.header-card{
   text-align: center;
   padding-bottom: 10px;
}


.img-top-price{
    width: 300px;
    height: 115px;
}
.img-top-price img{ 
    object-fit: cover;
}
.donnee1{
    width: 100px;
}
.donnee2{
    width: 100px;
}


.our-price{
    height: 255vh;
    margin: 0px
   
}

.cards-price{
    flex-direction: column;
    gap: 30px;
   
}

.card-price dl {   

    line-height: 1.8em;
    padding: 0;
    margin: 0;
    font-size: 1.2em;
   
}
.card-price i{
    width: 20px;
   
}
.card-price dl dt{
   text-align: center;

}

.card-price:hover{
    transform: none;
}
/* ****************************footer*************************************** */


#CONTACT{
    padding-top: 20px;
   
}
#CONTACT p{
    line-height: 1.8em;
    
}



}

 
/* Ipad air(portrait and landscape) */ 
@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 1180px) { 


*{
    max-width: 1180px;
}
/****************************** header **********************************/

.landing-page {
    flex-direction: column;
    height: 80vh;


}
article {
    text-align:left;
    padding: 0px 0px;
    width: 600px;
}
article h1{
    font-size: 2.7em;
    
}
article p {
    font-size: 1.9em;
    text-align: justify;
   
}

.image {
    width: 400px;
    margin-right: 0px;
    margin-top: 100px;
}
.subscribe {
    max-width: 400px; 
    
}
.subscribe input{
    font-size: 1.3em;

}
.subscribe button{
    right: 0px;  
    height: 43px;
    font-size: 1.2em;
    width: 140px;
}

/********************************section 2 products features************************************* */
.texte {
    width: 700px;
    padding-top: 100px;
    height: 30vh;
  
}
.texte h2{
    font-size: 3em;
}
.texte p {
    padding: 30px;
    color: rgba(139, 196, 245, 0.829);
    font-size: 1.8em;
}

#features{
    height: 70vh;
}

.cards{
    margin-top: 0px;   
}
.cards:hover{
    transform:none;
}
.cards p{
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.733);
    
}


/* *******************************Section team*************************************** */

.team .texte{
    height: 37vh;
    width: 800px;
    text-align: justify;
}
.people .text{
    line-height: 1.5em;
    margin: 30px;
    font-size: 1.5em;
    width: 250px;
}

.peoples{
    flex-wrap: wrap;
    margin: 50px 60px; 
    gap: 30px;

}
.people img{
    width: 300px;
    filter: grayscale(0);
     
}
.cercle:hover img, .icones-reseaux:hover+img{
    filter: none;
    transform: none;
    
}

.icones-reseaux{
    top: 50px;
    left: 30px; 
    height: 50px;
    width: 50px;
    opacity: 1;
 
}
.icones-reseaux a{
    height: 50px;
    width: 30px; 
    font-size: 1.4em;
}

/* ******************************parallax************************************************ */

.parallax{
    background-attachment: scroll;
    background-size: 100% auto;

}

.affichage h2{
   
    font-size: 2em;
}
.affichage p{
    color: rgba(255, 255, 255, 0.836);
    font-size: 1.8em;

}

.affichage button{
   font-size: 1em;
    height: 40px;
    width: 130px;
}

.affichage button:hover{
    transform: none;
}


/* ************************************SECTION CLIENT******************************* */

.img-client {
    flex-wrap: wrap;
    padding-top: 40px;
    gap: 40px;
    
}

.img-client img{
    opacity: 1;
  
}
#client .texte{
    padding: 80px;
    height: 30vh;
    
}


/* ****************************************section blog************************ */



.blogs{
    flex-wrap: wrap;
    height: 190vh;
    align-content: flex-start;
    
}


.info p{
    font-size: 1.4em;
   
}
.info a{
    
    font-size: 1.6em;
}
.info h2{
    font-size: 2em;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrap{
    top: 20px;
    left: 20px;
    transition: none;    
    
}

.img-blog:hover img{
    filter: none;
    
}

.img-blog img{
    filter: brightness(70%);
    
}
.auteur{
   width: auto;
   
}

.img-blog{
    width: 500px;
    height: 500px;
    margin: auto;
}

.info-auteur p{
    font-size: 1.3em;
}
.icones_auteur a{
   font-size: 1.3em;
}
.info{
    width: 500px;
    text-align: left;
}

/* ****************************************************section pricing******************************* */

.top-price{
    height: 70vh;
   
    
 }
 .img-top-price{
    width: 600px;
    height: 180px;
}
 .img-top-price img{
    width: 100%;
    height: 100%;
    transform: rotate(90deg);
    object-fit: cover;
}
.top-price article{
    width: 800px;
    height: 500px;
    margin-left: 30px;
}

article p {
    font-size: 1.4em;
}
.our-price{
    
    height: 80vh;
    margin: 0px;
   
   
}

/* ****************************footer*************************************** */
#CONTACT{
    padding-top: 50px;
   
}
#CONTACT p{
    font-size: 1.4em;
}
.icones-footer a{
    font-size: 2em;
    width: 60px;
    height: 60px;
}
} 
